{% extends 'default.html' %}
{% load i18n %}

{% block title %} {{ title }} {% endblock title %}

{% block content %}
<div class="container d-grid gap-3">
    <div class="p-2 border">
    <a class="btn btn-secondary" type="button" onclick="window.history.back()">{% trans "Cancel" %}</a>
    <a class="btn btn-secondary" href="/callboard/update/{{ advert.pk }}" role="button">{% trans "Update" %}</a>
    <a class="btn btn-primary"   href="/callboard/delete/{{ advert.pk }}" role="button">{% trans "Delete" %}</a>
    </div>
    <div class="p2 border"><h3>{% trans "User" %}: {{ advert.user.username }}</h3></div>
    <div class="p2 border"><h3>{% trans "Category" %}: <strong>{{ advert.category }}</strong></h3></div>
    <div class="p2 border"><h3>{% trans "Title" %}: {{ advert.title }}</h3></div>
    <div class="p2 border"><h3> {% trans "Current date" %}: {{ advert.created|date:'d M Y' }}</h3></div>
    <div class="p2 border"><h4 class="text-lg-left">{% trans "Content" %}:  {{ advert.content }}</h4></div>

</div>
{% endblock content %}