{% extends 'default.html' %}
{% load i18n %}

{% block title %} Delete response {% endblock title %}

{% block content %}
<h3 class="text-center">{% trans "Delete response" %}</h3>
    <br>
    <form class="text-center" action="" method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this response?" %}</p>
        <input class="btn btn-lg btn-dark"  onclick="window.history.back()" type="button" value="Cancel" />
        <input class="btn btn-lg btn-dark" type="submit" value="Delete">

    </form>
{% endblock content %}

