{% extends 'default.html' %}
{% load i18n %}

{% block title %}
   {{ 403 }}
{% endblock title %}

{% block content %}

    <h3>Доступ закрыт</h3>
    <h5>Пользователь: {{ request.user.username }} </h5>
    <br>
    <h5 class="max-lines">
        Вы авторизованный пользователь и можете создавать и редактировать объявления на сайте,
        но Вам запрещено удалять объявления других авторизованных пользователей.
    </h5>
    <br><br>
    <hr>
    <div class="text-center">
        <button class="btn btn-lg btn-dark"><a style="text-decoration: none; color: white" href="/callboard/">На главную страницу</a></button>
    </div>
{% endblock content %}

<!--<h5>Вы не являетесь авторизованным пользователем и не можете создавать и редактировать новости и статьи</h5>-->